# IDE и редакторы
.idea/
.vscode/
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Виртуальное окружение
.venv/
venv/
env/

# Логи
*.log

# Файлы конфигурации окружения
.env

# Файлы сборки и распределения
dist/
build/
*.egg-info/

# Кэш и временные файлы
*.DS_Store
*.swp
*.swo
*.bak

# Файлы тестов и покрытий (если генерируются)
.coverage
htmlcov/

app.log
offset.txt
subscribers.txt
info_requests.txt
date.json

